@font-face {
    font-family: 'BeaufortforLOL';
    src: url('assets/fonts/BeaufortforLOL-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
body {
    font-family: 'BeaufortforLOL', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: 3vh;
    background-image: url('assets/imgs/F5141416.png');
}

.side-header-container {
    display: flex;
    width: 100%;
    height: 5vh;
    font-size: 2.2vh;
    font-weight: bold;
    text-align: center;
    color: white;
}

.blue-side {
    background-color: #4285F4; 
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5vh;
}

.red-side {
    background-color: #EA4335;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 5vh;
}

.swap-button {
    background-color: black;
    background-image: url('assets/imgs/happ_shroud.png');
    background-size: cover;
    background-position: center;
    color: gray;
    font-family: 'BeaufortforLOL', sans-serif; 
    font-size: 1.8vh;
    padding: 1vh 2vh;
    border-radius: 1vh;
    border: 0.1vh solid gray;
    margin-right: 2vh;
    margin-bottom: 1vh;
    width: 20vh; 
    height: 5vh; 
    cursor: pointer;
    transition: opacity 0.3s ease-in-out; 
    position: relative;
}

.swap-button:hover{
    color: white;
    border: 0.1vh solid white;
}

form {
    margin-bottom: 2vh;
}

label {
    display: block;
    margin: 0.4vh 0 0.2vh;
}

.box-label {
    width: 30vh;
    height: 3vh;
    margin-bottom: 1vh;
    font-family: 'BeaufortforLOL', sans-serif;
    font-weight: normal; 
    font-size: 1rem; 
    padding: 0.7vh;
    text-align: center;
    font-size: 1rem;
}

input {
    background-color: black; 
    color: white;
    border: 0.2vh solid black;
    border-bottom: 0.2vh solid gray;
    padding: 0.7vh 1.1vh; 
    font-family: 'BeaufortforLOL', sans-serif; 
    font-size: 1rem; 
    outline: none; 
    width: 100%; 
}

input:focus {
    border-bottom: 0.2vh solid white; 
}

.stacked-boxes-container {
    display: flex;
    flex-direction: column;
    gap: 0.9vh;
    align-items: center;
    padding: 1.2vh;
}

.stacked-box {
    display: flex;
    align-items: center;
    gap: 0.9vh;
}

.champions-table {
    width: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#champion-search {
    width: 88vh; 
    padding: 1vh;
    margin-bottom: 1vh; 
    font-size: 1.6vh;
}


.box {
    width: 12.8vh;
    height: 12.8vh;
    background-size: cover;
    background-position: center;
    border-radius: 1vh;
    box-shadow: 0 0.4vh 0.7vh rgba(0, 0, 0, 0.2);
    cursor: grab;
}

.scrollable-table {
    max-height: 64vh;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    background-color: black;
    border: none;
}

td {
    width: 15vh;
    height: 15vh;
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar {
    width: 0.8vh; 
}

::-webkit-scrollbar-track {
    background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 1vh;
}

::-webkit-scrollbar-thumb:hover {
    background: #333; 
}

.remove-button:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 1);
}

datalist {
    max-height: 15vh;
    overflow-y: auto;
    display: block;
}

::-webkit-calendar-picker-indicator {
    display: none !important;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.draft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: 2vh;
}

.player-input {
    margin-top: 6.4vh;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    text-align: center;
    visibility: hidden;
    display: block;
    height: 1.3vh;
}

.winner-overlay {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('assets/imgs/2019-intro-background.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 2vh 4vh;
    border-radius: 1vh;
    text-align: center;
    z-index: 1000;
    width: 40vh; 
    height: 20vh; 
    align-items: center; 
    justify-content: center;
}

.winner-overlay div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.winner-overlay .chance-text {
    font-size: 1.5rem;
    margin-top: 1vh;
}

.close-btn {
    position: absolute;
    top: 1vh;
    right: 1.5vh;
    width: 3vh;  
    height: 3vh;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
}

.close-btn:hover {
    opacity: 1; 
}

@keyframes spin {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

#loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: spin 1s linear infinite;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

#predict-button, #predict-draft-button {
    background-color: transparent;
    background-image: url('assets/imgs/button-accept-disabled.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none; 
    color: gray;
    font-family: 'BeaufortforLOL', sans-serif; 
    font-size: 1.1rem;
    padding: 1vh 2vh;
    margin-right: 2vh;
    cursor: not-allowed;
    width: 25vh; 
    height: 6.25vh; 
    transition: opacity 0.3s ease-in-out; 
    position: relative;
    user-select: none; 
}

#predict-button span, #predict-draft-button span{
    position: relative;
    top: -0.25rem;
}

#predict-button.enabled, #predict-draft-button.enabled {
    background-image: url('assets/imgs/button-accept-default.png');
    color: white;
    cursor: pointer;
}

#predict-button.enabled:hover, #predict-draft-button.enabled:hover {
    background-image: url('assets/imgs/button-accept-hover.png');
    color: white;
}

.draft {
    display: flex;
    flex-wrap: wrap;
  }
  
  .dropeables-champions-container,
  .player-inputs-container {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .controls-container {
    display: flex;           
    justify-content: center;   
    align-items: center;     
    gap: 1rem;                      
  }
  
  
  @media (max-width: 1350px) {

    .draft {
      flex-direction: column;
      align-items: center;
    }

    #champion-search {
        width: 80%;
    }
    
    .champions-table {
        width: 50%;
    }

    .player-input {
        margin-top: 1vh;
    }

    .controls-container {
        /* Switch to grid with exactly two columns */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* The above means "2 columns, each 1 fraction of the available space." */
        gap: 1rem; 
      }
      
      /* Buttons span full width of their grid cell */
      .swap-button {
        width: 100%;
        font-size: 1.3vh;
      }
  }

  @media (max-width: 500px) {
    html, body {
        overflow-x: hidden;
    }
    .box {
        width: 9vh;
        height: 9vh;
    }
    .scrollable-table {
        max-height: 43vh;
    }
    .stacked-boxes-container {
        padding: 1vh;
    }
    .button-container {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        align-items: center;
    }

    #predict-button, #predict-draft-button {
        font-size: 0.9rem;
    }

    .side-header-container {
        font-size: 1.8vh;
    }
  }